<div class="container">
    <h4>Add Product</h4>
    <form action="/addProduct" method="post">
        <div class="form-field">
            <label>Name</label>
            <input name="name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-field">
            <label>Price</label>
            <input name="price" type="text" class="form-control" placeholder="Price">
        </div>

        <button class="btn btn-primary">Add</button>
    </form>
</div>