<div class="container">
    <h1>Static Product Grid</h1>

    <div class="row product-grid"></div>
</div>

{{#section 'scripts'}}
<script>
    const products = [
        {
            name: 'Product 1',
            price: 10
        },
        {
            name: 'Product 2',
            price: 20
        },
        {
            name: 'Product 3',
            price: 30
        },
        {
            name: 'Product 4',
            price: 40
        },
        {
            name: 'Product 5',
            price: 50
        },
        {
            name: 'Product 6',
            price: 60
        },
        {
            name: 'Product 7',
            price: 70
        },
        {
            name: 'Product 8',
            price: 80
        },
        {
            name: 'Product 9',
            price: 90
        },
        {
            name: 'Product 10',
            price: 100
        },
        {
            name: 'Product 11',
            price: 110
        },
        {
            name: 'Product 120',
            price: 120
        },
    ]

    let productGrid = $('.product-grid')

    for (let product of products) {
        let productItem = `
            <div class="col-md-3">
                <p>${product.name}</p>
                <p>$${product.price}</p>
            </div>
        `

        productGrid.append(productItem)
    }
</script>
{{/section}}