<div class="container">
    <h1>Static Product Grid</h1>

    <div class="row product-grid">
        <div class="col-md-3">
            <p>Product 1</p>
            <p>$10</p>
        </div>
        <div class="col-md-3">
            <p>Product 2</p>
            <p>$20</p>
        </div>
        <div class="col-md-3">
            <p>Product 3</p>
            <p>$30</p>
        </div>
        <div class="col-md-3">
            <p>Product 4</p>
            <p>$40</p>
        </div>
        <div class="col-md-3">
            <p>Product 5</p>
            <p>$50</p>
        </div>
        <div class="col-md-3">
            <p>Product 6</p>
            <p>$60</p>
        </div>
        <div class="col-md-3">
            <p>Product 7</p>
            <p>$70</p>
        </div>
        <div class="col-md-3">
            <p>Product 8</p>
            <p>$80</p>
        </div>
        <div class="col-md-3">
            <p>Product 9</p>
            <p>$90</p>
        </div>
        <div class="col-md-3">
            <p>Product 10</p>
            <p>$100</p>
        </div>
        <div class="col-md-3">
            <p>Product 11</p>
            <p>$110</p>
        </div>
        <div class="col-md-3">
            <p>Product 12</p>
            <p>$120</p>
        </div>
    </div>
</div>