<h1>Styled with bootstrap</h1>

<a href="/products1" class="btn btn-primary">Products 1</a>
<a href="/products2" class="btn btn-primary">Products 2</a>
<a href="/products3" class="btn btn-primary">Products 3</a>